{% load static %}
<!--/ Carousel Star /-->
{% if page == 'home' %}
  <div class="intro intro-carousel">
    <div id="carousel" class="owl-carousel owl-theme">
        {% for rs in sliderdata %}

      <div class="carousel-item-a intro-item bg-image" style="background-image: url({{ rs.image.url }})">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <p class="intro-title-top">{{ rs.location }}

                    <h1 class="intro-title mb-4">
                      <span class="color-b">{{ rs.title }}</span>
                    <p class="intro-subtitle intro-price">
                      <a href="/program/{{ rs.id }}/{{ rs.slug }}"><span class="price-a">RANDEVU AL</span></a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endfor %}
    </div>
  </div>
  <!--/ Carousel end /-->
{% endif %}