{% extends 'homebase.html' %}
{% load static %}
{% block title %} {{ user.first_name }} {{ user.last_name }} | {{ setting.title }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}'/>

{% endblock %}


{% block content %}

<!--/ Intro Single star /-->
  <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">{{ user.first_name }} {{ user.last_name }}</h1>
            <span class="color-text-a">
                <a href="/user/update" class="btn btn-a">Update Profile</a>
            <a href="/user/password" class="btn btn-a">Change Password</a>
            </span>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">

        </div>
      </div>
    </div>
  </section>
  <!--/ Intro Single End /-->

  <!--/ Agent Single Star /-->
  <section class="agent-single">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-md-6">
              <div class="agent-avatar-box">
                <img src="{{ profile.image.url }}" style="border-radius: 60%; width:300px; height:300px;" alt="" class="agent-avatar img-fluid">
              </div>
            </div>
            <div class="col-md-5 section-md-t3">
              <div class="agent-info-box">
                <div class="agent-title">
                  <div class="title-box-d">
                    <h3 class="title-d">{{ user.first_name }} {{ user.last_name }}</h3>
                  </div>
                </div>
                <div class="agent-content mb-3">

                  <div class="info-agents color-a">
                    <p>
                      <strong>Phone: </strong>
                      <span class="color-text-a"> {{ profile.phone}} </span>
                    </p>
                    <p>
                      <strong>Mobile: </strong>
                      <span class="color-text-a"> {{ profile.address}}</span>
                    </p>
                    <p>
                      <strong>City: </strong>
                      <span class="color-text-a"> {{ profile.city}}</span>
                    </p>
                    <p>
                      <strong>Country: </strong>
                      <span class="color-text-a"> {{ profile.country}}</span>
                    </p>

                  </div>
                </div>
                <div class="socials-footer">
                  <ul class="list-inline">
                    <li class="list-inline-item">
                      <a href="{{ setting.facebook }}" class="link-one">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="{{ setting.twitter }}" class="link-one">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="{{ setting.instagram }}" class="link-one">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                      </a>
                    </li>
                    <li class="list-inline-item">
                      <a href="{{ setting.youtube }}" class="link-one">
                        <i class="fa fa-youtube" aria-hidden="true"></i>
                      </a>
                    </li>

                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Agent Single End /-->
 {% endblock %}
